*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: aqua;
}
nav{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 40px;
}

.nav-part-2 {
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.nav-part-3 button {
    /* border: 1px solid #000; */
    padding: 7px 12px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    background-color: #fff;
    cursor: pointer;
}
#btn-2 {
    border: none;
    background-color: orangered;
    color: #fff;
    outline: none;
}
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size:  cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2 rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);

}
 .card > .row{
    color:white;
    display: flex;
    flex-wrap: nowrap;
} 
.card > .row > .icon {
    background: #223;
    color:white;
    border-radius: 50%;
    width:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
} 

.card > .row  > .description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width:530px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}
.description p {
    color:#b0b0ba;
    padding-top: 5px;
}
.description h4{
    text-transform: uppercase;
}
input{
    display: none;
}
input:checked + label{
    width: 600px;
}

input:checked + label .description{
    opacity: 1 !important;
    transform: translateY(0) !important;
}
.card[for="c1"] {
    background-image: url('./hublot-big-bang.jpg');
}
.card[for="c2"] {
    background-image: url('./Hublot\ meca.jpg');
}
.card[for="c3"] {
    background-image: url('./LIGE-Watch-Men-Business-Waterproof-Clock-Mens-Watches-Brand-Luxury-Fashion-Casual-Sport-Mechanical-Wristwatch-Relogio.jpg_960x960.webp');
}
.card[for="c4"] {
    background-image: url('./pexels-ferarcosn-190819.jpg');
}

h1{
    position: relative;
    margin-top: 40px;
    font-size: 4rem;
    color: #cf5f23;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
    /* justify-content: center; */
    /* align-items: center; */
}
/* h1::before{
    content: attr(data-text);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    color: chocolate;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #fe9d01;
    overflow: hidden;
    animation: animate 6s linear infinite;
} */

@keyframes animate {
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width:100%;
    }
    
}

